params {
  config_profile_description = 'NF1 ZEDProfiler pilot base settings'
  run_id = null
  outdir = null
  manifest = 'manifest/nf0055_b10_1_alpine.yaml'
  compartments = 'Nuclei,Cell,Cytoplasm,Organoid'
  channels = 'DNA,ER,AGP,Mito'
  feature_cpus = 2
  feature_memory = '32 GB'
  feature_time = '2h'
  granularity_cpus = 2
  granularity_memory = '24 GB'
  granularity_time = '90 min'
  nongranularity_cpus = 2
  nongranularity_memory = '24 GB'
  nongranularity_time = '45 min'
  warehouse_cpus = 2
  warehouse_memory = '16 GB'
  warehouse_time = '30 min'
}

process {
  cpus = 1
  memory = '4 GB'
  time = '30 min'
  errorStrategy = { task.attempt <= 2 ? 'retry' : 'finish' }
  maxRetries = 2

  withLabel: zedprofiler_cpu {
    cpus = params.feature_cpus as int
    memory = params.feature_memory
    time = params.feature_time
  }

  withLabel: granularity_cpu {
    cpus = params.granularity_cpus as int
    memory = params.granularity_memory
    time = params.granularity_time
  }

  withLabel: nongranularity_cpu {
    cpus = params.nongranularity_cpus as int
    memory = params.nongranularity_memory
    time = params.nongranularity_time
  }

  withLabel: warehouse_cpu {
    cpus = params.warehouse_cpus as int
    memory = params.warehouse_memory
    time = params.warehouse_time
  }
}
