nextflow.enable.dsl = 2

params.run_id = null
params.outdir = null
params.pilot_root = null
params.manifest = 'manifest/nf0055_b10_1_alpine.yaml'
params.feature_cpus = 2
params.feature_memory = '32 GB'
params.feature_time = '2h'

includeConfig 'conf/base.config'

profiles {
  local {
    process.executor = 'local'
    executor.queueSize = 1
  }

  curc_alpine {
    includeConfig 'conf/curc_alpine.config'
  }
}

trace {
  enabled = true
  file = "${params.outdir ?: ('results/' + (params.run_id ?: 'manual'))}/trace.tsv"
  overwrite = true
}

timeline {
  enabled = true
  file = "${params.outdir ?: ('results/' + (params.run_id ?: 'manual'))}/timeline.html"
  overwrite = true
}

report {
  enabled = true
  file = "${params.outdir ?: ('results/' + (params.run_id ?: 'manual'))}/report.html"
  overwrite = true
}

dag {
  enabled = true
  file = "${params.outdir ?: ('results/' + (params.run_id ?: 'manual'))}/dag.html"
  overwrite = true
}
