nextflow.enable.dsl = 2

params.run_id = null
params.outdir = null
params.manifest = 'manifest/smoke_test_image_set.yaml'
params.feature_cpus = 2
params.feature_memory = '32 GB'
params.feature_time = '2h'

includeConfig 'conf/base.config'

profiles {
  local {
    process.executor = 'local'
    executor.queueSize = 1
  }

  curc_alpine {
    includeConfig 'conf/curc_alpine.config'
  }
}

def nf1Outdir = params.outdir ?: "results/${params.run_id ?: 'manual'}"

trace {
  enabled = true
  file = "${nf1Outdir}/trace.tsv"
  overwrite = true
}

timeline {
  enabled = true
  file = "${nf1Outdir}/timeline.html"
  overwrite = true
}

report {
  enabled = true
  file = "${nf1Outdir}/report.html"
  overwrite = true
}

dag {
  enabled = true
  file = "${nf1Outdir}/dag.html"
  overwrite = true
}

