params {
  config_profile_description = 'NF1 ZEDProfiler production base settings'
  run_id = null
  outdir = null
  manifest = 'manifest/smoke_test_image_set.yaml'
  image_sets = ''
  image_sets_index = ''
  source_root = ''
  uv_project_environment = System.getenv('NF1_PROD_UV_ENVIRONMENT') ?: ''
  feature_cpus = 2
  feature_memory = '32 GB'
  feature_time = '2h'
  warehouse_cpus = 2
  warehouse_memory = '16 GB'
  warehouse_time = '30 min'
}

process {
  cpus = 1
  memory = '4 GB'
  time = '30 min'
  errorStrategy = { task.attempt <= 2 ? 'retry' : 'finish' }
  maxRetries = 2

  withLabel: zedprofiler_cpu {
    cpus = params.feature_cpus as int
    memory = params.feature_memory
    time = params.feature_time
  }

  withLabel: warehouse_cpu {
    cpus = params.warehouse_cpus as int
    memory = params.warehouse_memory
    time = params.warehouse_time
  }
}
